#create-post{
    background-color:#487eb0;
    display: grid;
    grid-template-columns: 20% 1fr 15% 15%;
    gap:5px;
    margin-bottom: 10px;
    align-content: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#create-post button{
    margin: auto;
    padding:10%;
}



.profile img{
    width: 100%;
    border-radius: 50%;
    height:100%;
}

.profile{
    width: 50%;
    height:80%;
    border-radius: 50%;
    border: solid 2px black
}

button.submit{
    grid-column: 4;
    grid-row: 1;
}
