#timeline{
    margin:auto;
    width: 50%;
    padding: 2px;
    height: fit-content;
    margin-top:5px;
}

.posts{
    display: flex;
    flex-direction: column-reverse;

}

#timeline-post{
    border:2px solid black;
}