#timeline{
    margin:auto;
    width: 50%;
    background-color: lightgr;
    padding: 2px;
    height: fit-content;
    margin-top:5px;
}

.posts{
    display: flex;
    flex-direction: column-reverse;

}