#timeline-post{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timeline-post img{
    width: 100%;
    height: auto;
}

.post-buttons{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.458);
    padding: 2px;
}

.post-bar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 5px;
}

button{
    color: black;
    border: none;
    background-color: transparent;
}

.editing-form form{
    padding: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.edit-buttons{
    margin: auto;
}

input{
    background-color: white;
    color: black;
}
