.post form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post{
    background-color: #dcdde1;
    padding:10px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.post input{
    background-color: white;
    color: black;
}

